.katex-display {
  margin-top: 0;
  margin-bottom: 0;
}

.editor-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editor-add-paragraph {
  width: 100%;
  height: var(--add-paragraph-height);
  background-color: white;
  text-align: center;
  line-height: var(--add-paragraph-height);
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
  overflow-y: hidden;
}

.editor-add-paragraph:hover {
  background-color: #eee;
}

.editor {
  --add-paragraph-height: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.editor-out-container *,
.caprte-dropdown,
.caprte-dropdown *,
.floating-text-format-popup,
.floating-text-format-popup *,
.link-editor,
.link-editor *,
Modal__overlay,
Modal__overlay *
{
  box-sizing: content-box;
}

.editor-out-container .block-controls .h1,
.editor-out-container .block-controls .h2,
.editor-out-container .block-controls .h3,
.editor-out-container .block-controls .h4,
.editor-out-container .block-controls .h5,
.editor-out-container .block-controls .h6 {
  margin-bottom: 0;
}